@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Alumni+Sans:wght@100;200;300;400;500;600;700;800;900&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Economica:wght@400;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*  font-family: 'Alumni Sans', sans-serif;

    font-family: 'Alumni Sans Pinstripe', sans-serif;

    font-family: 'Cormorant Garamond', serif;

    font-family: 'Economica', sans-serif;

    font-family: 'Raleway', sans-serif;
*/

/* —————————  Global Styles  ————————————————————————————————————————————— */
:root {
  --black: #4A4A4A;
  --red: #DF856E;
  --paper: #F7F1DA;
  --yellow: #E3CCA1;
  --green: #C4C3A9;
  --bckgr-white:#F2F2EC;
  --bg-grey-light: #B4B4B4;
  --bg-grey-lighter: #d5d5d5;
  --bckgr-grey-dark: #959595;
  --bg-grey-darkest: #6e6d6d;
  --bg-paper: rgb(242, 241, 232);
  --transparent: rgba(0, 0, 0, 0.3)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--bckgr-grey-dark);
}

body {
  font-family: 'Raleway', serif;
}


/* —————————  Utility/ Re usable classes  ————————————————————————— */
.flex-row {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.absolute-title {
  position: absolute;
  left: 10%;
  top: 10%;
  font-family: 'Raleway', sans-serif;
  font-size: 16rem;
  font-weight: 500;
  padding-bottom: 40rem;
  padding-left: 8rem;
  transform: rotate(-90deg);
  color: var(--bg-grey-light);
  z-index: 4000;
}

.btn {
  padding: .5rem 2rem;
  border: solid 2px var(--red);
  background: none;
  color: var(--red);
  margin: 3rem 0 3rem 15rem;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover,
.btn:active,
.btn-blog:hover,
.btn-blog:active,
.reset-style:hover {
  background-color: var(--red);
  border: solid 2px transparent;
  color: var(--bckgr-white);
}


/* —————————  Loader  ————————————————————————————————————————————— */
.loader-container {
  padding: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 10rem;
  height: 10rem;
  border: 1rem solid var(--bg-grey-lighter);
  border-bottom: 1rem solid var(--red);
  border-radius: 100%;
  animation: infinite spin .5s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* —————————  nav bar  ————————————————————————————————————————————— */
nav {
  width: 100%;
  min-height: 75px;
  height: 100px;
  background-color: var(--bg-paper);
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  z-index: 3000;
}

nav a {
  font-size: 1.2rem;
  padding: 1rem .5rem;
  margin-left: 2.5rem;
}

.logo {
  margin: auto 0;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
}

.logo h1 {
  font-family: 'Economica', sans-serif;
  font-size: 2rem;
  color: var(--red);
  z-index: 6000;
}

.menu {
  justify-self: end;
  padding-right: 2rem;
}

.nav-menu {
  display: flex;
  margin: auto 0;
}

.nav-menu span {
  font-weight: 600;
  font-size: 1.4rem;
}

.nav-link {
  border: solid 1px transparent;
}

.nav-link[aria-current="page"]{
  background-color: var(--black);
  border: solid 1px var(--bckgr-grey-dark);
  color: var(--paper);
}

.nav-link:hover {
  border-color: var(--bckgr-grey-dark);
}

.mobile {
  font-size: 1.3rem;
  color: var(--bg-grey-darkest);
  cursor: pointer;
  display: none;
}


/* —————————  Footer  ————————————————————————————————————————————— */
footer {
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  background-color: var(--black);
  color: var(--bg-grey-lighter);
  
}

footer h1 {
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 11px;
}

footer span {
  font-weight: 500;
}

.foot-container {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
  padding-top: 3rem;
  
}

.foot-box {
  display: flex;
  justify-content: space-evenly;
  z-index: 3000;
}

.foot-trinket {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: .5rem;
}

.foot-trinket a {
  color: var(--bg-grey-lighter);
}

.copyright {
  text-align: center;
  font-size: .7rem;
  font-family: 'Alumni Sans', sans-serif;
  letter-spacing: 4px;
  padding: 1.5rem 0 .2rem 0;
}


/* —————————  INDEX.HTML  ————————————————————————————————————————————— */
/* -------------------------------- <section class="hero"> */
.hero {
  background-color: var(--bg-paper);
  height: 900px;
  padding-top: 2rem;
}

.hero-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 960px;
  height: 550px;
  margin: 0 auto;
  align-items: center;
}

.hero-right {
  display: flex;
  justify-content: end;
  z-index: 100;
}

.hero-text {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.5rem;
  color: var(--bg-grey-light);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 300px;
}

.symbol-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.symbol-container h2 {
  font-family: 'Cormorant Garamond', serif;
  color: var(--bg-grey-light);
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}

.film-strip {
  position: absolute;
  left: 9%;
  top: 58.5%;
  z-index: 1000;
}

.text-right-align {
  align-self: flex-end;
}

.symbol {
  height: 90px;
  padding-right: 35px;
  padding-bottom: 4px;
  position: absolute;
  opacity: 20%;
}

.hero-img-behind {
  position: absolute;
}

.hero-img-behind img {
  width: 350px;
  height: 500px;
  object-fit: cover;
}

.hero-img-front {
  padding: 30px 85px 30px 0;
  z-index: 1000;
}

.hero-img-front img {
  width: 500px;
  object-fit: contain;
}

/* ----------------------------- <section class="posts"> */
.posts {
  background-color: var(--black);
  padding: 6rem 0rem;
  z-index: 3000;
}

.slider-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
}

.slider-container {
  height: 100%;
  width: 100%;
  min-width: 30%;
  margin: auto;
  padding: .5rem;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
}

.slide {
  min-width: 30.5%;
  height: 100%;
  margin: 0 1rem;
  background-color: var(--bckgr-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 2000;
}

.slide:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

.slide img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.slide-date,
.date {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding: .5rem;
  text-align: center;
}

.arrows {
  color: var(--bg-grey-lighter);
  font-size: 30px;
  cursor: pointer;
  z-index: 5000;
}

/* --------------------------------- <section class="about"> */
.about {
  background-color: var(--bg-paper);
}

.about-wrapper {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.about-wrapper img {
  width: 400px;
  align-self: flex-start;
  margin-left: 10%;
  flex-wrap: wrap;
  z-index: 3000;
}

.icon-image-text {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 300;
  flex-wrap: wrap;
  color: var(--bg-grey-light);
  width: 500px;
}

.about-wrapper .btn {
  align-self: flex-end;
  margin-right: 10%;
}

/* —————————  About page  ————————————————————————————————————————————— */

.about-container {
  margin: 0 auto;
}

.about-container .absolute-title {
  margin: 0;
  padding: 0;
  font-size: 15rem;
  transform-origin: 54% 26rem;
}

.about-box {
  margin: 0 15rem;
  padding-top: 5rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin: 2rem 5rem;
}

.about-content figcaption {
  margin-bottom: 2rem;
}

.selfie {
  align-self: flex-end;
  margin-top: 3rem;
}

.sand-storm {
  align-self: flex-start;
}

.camera {
  margin-bottom: 4rem;
}

.about-content p {
  text-align: left;
  color: var(--bckgr-grey-dark);
}

.headline {
  padding-top: 2rem;
  align-self: flex-start;
  margin-left: 9rem;
  color: var(--black)
}

.first,
.one,
.two,
.three {
  display: flex;
  width: 45%;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: .5px;
}

.first {
  width: 45%;
  margin-top: 1rem;
}

.three {
  align-self: flex-start;
}

.two {
  align-self: flex-end;
}



/* —————————  Blog page  ————————————————————————————————————————————— */
.blog-grid {
  margin-right: 15%;
  padding: 150px 0 75px 0;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  justify-content: flex-end;
  row-gap: 50px;
  column-gap: 50px;
  z-index: 5000;
}

.btn-blog {
  width: 100%;
  max-width: 250px;
  margin: 0 0 5rem 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.blog .absolute-title {
  margin: 0;
  padding: 0;
  letter-spacing: 17px;
  font-size: 16rem;
  transform-origin: 55% 25rem;
}


/* —————————  Details page  ————————————————————————————————————————————— */
.details-container {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.post-details {
  width: 70%;
}

.post-details h1,
.details p {
  padding: 1rem 0;
}

.post-details img {
  width: 100%;
  object-fit: cover;
}

.post-details figure {
  display: block; 
}

figcaption {
  text-align: center;
  padding-bottom: 1rem;
}

.fa-arrow-left {
  font-size: 3rem;
  color: var(--black);
  padding-top: 3rem;
  padding-right: 2rem;
}

/* Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

/* Modal (Content) */
.modal-content {
  background-color: var(--bckgr-white);
  margin: 15% auto;
  padding: 1.5rem;
  border: solid 1px var(--bckgr-grey-dark);
  width: 90%;
  height: 90%;
}

.modal-content img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  
}

/* Modal (close button) */
.close {
  color: var(--black);
  float: right;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
}

.close:hover,
.close:focus {
  color: var(--red);
  cursor: pointer;
}

.blog-image {
  cursor: pointer;
}


/* —————————  Gallery page  ————————————————————————————————————————————— */
.gallery-container {
  padding-top: 8rem;
  padding-bottom: 2rem;
  padding-left: 33%;
  padding-right: 0;
}

.gallery-section .absolute-title {
  margin: 0;
  padding: 0;
  font-size: 14rem;
  transform-origin: 49% 25.5rem;
}

figure {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(4, 300px);
}

figcaption {
  color: var(--bg-grey-darkest);
}

.wp-block-image {
  display: flex;
  flex-direction: column;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
}


/* —————————  Contact page  ————————————————————————————————————————————— */
.form .absolute-title {
  margin: 0;
  padding: 0;
  font-size: 12rem;
  transform-origin: 52% 25.5rem;

}

.form {
  color: var(--bckgr-white);
}

.form-wrapper {
  padding-top: 7rem;
  padding-bottom: 2rem;
  padding-right: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 17%;
}

form {
  padding: 4rem;
  border-radius: .5rem;
  width: 600px;
  z-index: 1001;
}

label {
  color: var(--black);
}

input {
  background: none;
  border: none;
  padding-top: 10px;
  outline: none;
}

textarea {
  resize: none;
  background: none;
  border: none;
}

.form-error {
  color: var(--red);
  font-size: .8rem;
  margin-top: 3px;
  display: none;
}

.hidden {
  display: none;
}

.thank-you {
  padding: 3rem;
  font-size: 3rem;
  text-align: center;
}

.inputs {
  padding: .8rem;
  border: solid 1px var(--black);
  margin: 1rem;
}

.form-btn {
  margin: 2rem 2rem 0;
}

.reset-style {
  color: var(--red);
  background: none;
  cursor: pointer;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}

/* —————————  Media Queries  ————————————————————————————————————————————— */
@media screen and (max-width: 940px) {
  .nav-menu {
    background-color: var(--black);
    padding: 4rem;
    position: fixed;
    width: 100%;
    top: -100%;
    left: 0;
    flex-direction: column;
    transition-duration: .5s;
    align-items: center;
  }

  .nav-menu span {
    font-weight: 900;
    font-size: 1.7rem;
  }

  .mobile {
    display: block;
    transition: transform 0.5s;
    transform: rotate(0deg);
  }
  
  .nav-link {
    padding: 1rem;
    font-size: 1.4rem;
  }

  .nav-link:active {
    background-color: var(--bckgr-white);
    color: var(--black);
  }

  .nav-link:hover {
    font-weight: bold;
  }
  
  .nav-menu.active {
    left: 0;
    top: 0;
  }

  .mobile.active {
    position: absolute;
    top: 38px;
    right: 42px;
    transition: transform 0.5s;
    transform: rotate(270deg);
    color: var(--bg-grey-light);
  }

  .loader-container {
    padding: 25%;
  }
  
}


@media screen and (max-width: 680px) {
  .foot-container {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15vw;
  }
  .mobile-spacer {
    padding-bottom: 1rem;
  }

}


@media screen and (max-width: 480px) {
  
}
