@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Alumni+Sans:wght@100;200;300;400;500;600;700;800;900&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Economica:wght@400;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*  font-family: 'Alumni Sans', sans-serif;

    font-family: 'Alumni Sans Pinstripe', sans-serif;

    font-family: 'Cormorant Garamond', serif;

    font-family: 'Economica', sans-serif;

    font-family: 'Raleway', sans-serif;
*/

/* —————————  Global Styles  ————————————————————————————————————————————— */

:root {
  --black: #4A4A4A;
  --red: #DF856E;
  --paper: #F7F1DA;
  --yellow: #E3CCA1;
  --green: #C4C3A9;
  --bckgr-white:#F2F2EC;
  --bg-grey-light: #B4B4B4;
  --bckgr-grey-dark: #959595;
  --bg-grey-darkest: #6e6d6d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--bckgr-grey-dark);
}

body {
  font-family: 'Cormorant Garamond', serif;
}


/* —————————  nav bar  ————————————————————————————————————————————— */
nav {
  width: 100%;
  min-height: 75px;
  border-bottom: solid 1px var(--bg-grey-light);
  height: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

nav h1 {
  
  font-family: 'Economica', sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

nav a {
  /* background-color: purple; */
  padding-left: 3rem;
}

.logo {
  margin: auto 0;
  padding-left: 2rem;
  display: flex;
  /* flex-direction: column; */
  
}

.logo h1 {
  font-size: 1.4rem;
  color: var(--green);
}

.menu {
  justify-self: end;
  padding-right: 2rem;
}

.nav-menu {
  display: flex;
  margin: auto 0;
}

.nav-menu a {
  
}

.nav-menu span {
  font-weight: 900;
  font-size: 1.2rem;
}

.nav-link[aria-current="page"]{
  text-decoration: underline var(--bckgr-grey-dark) .3rem;
  text-underline-offset: 0.5rem;
}

.mobile {
  font-size: 1.3rem;
  color: var(--bckgr-grey-dark);
  cursor: pointer;
  display: none;
}


/* —————————  Footer  ————————————————————————————————————————————— */
footer {
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  background-color: var(--black);
  color: var(--bg-grey-light);
  padding-top: 3rem;
}

footer h1 {
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: 11px;
}

footer span {
  font-weight: 500;
}

footer hr {
  color: var(--bckgr-grey-dark)
}

.foot-container,
.foot-box {
  display: flex;
  justify-content: space-evenly;
}

.foot-trinket {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: .5rem;
}


.copyright {
  text-align: center;
  font-size: .7rem;
  font-family: 'Alumni Sans', sans-serif;
  letter-spacing: 4px;
  padding: 1.5rem 0 .2rem 0;
}

/* —————————  index.html  ————————————————————————————————————————————— */
.body-wrapper {
  max-width: 1240px;
  margin: auto;
  padding: 0 10px;
}

.fill-container {
  height: 1080px;
  background-color: var(--green);
}



/* —————————  Media Queries  ————————————————————————————————————————————— */
@media screen and (max-width: 940px) {
  .nav-menu {
    background-color: var(--black);
    padding: 4rem;
    position: fixed;
    width: 100%;
    top: -100%;
    left: 0;
    flex-direction: column;
    transition-duration: .5s;
    align-items: center;
  }
  .nav-menu span {
    font-weight: 900;
    font-size: 1.7rem;
  }
  .mobile {
    display: block;
    transition: transform 0.5s;
    transform: rotate(0deg);
  }
  
  .nav-link {
    padding: 1rem;
    font-size: 1.4rem;
  }
  .nav-menu.active {
    left: 0;
    top: 0;
  }
  .mobile.active {
    position: absolute;
    top: 38px;
    right: 42px;
    transition: transform 0.5s;
    transform: rotate(270deg);
  }
  
}


@media screen and (max-width: 680px) {
  .foot-container {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15vw;
  }
  .mobile-spacer {
    padding-bottom: 1rem;
  }

}


@media screen and (max-width: 480px) {
  
}
