@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Alumni+Sans:wght@100;200;300;400;500;600;700;800;900&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Economica:wght@400;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*  font-family: 'Alumni Sans', sans-serif;

    font-family: 'Alumni Sans Pinstripe', sans-serif;

    font-family: 'Cormorant Garamond', serif;

    font-family: 'Economica', sans-serif;

    font-family: 'Raleway', sans-serif;
*/

/* —————————  Global Styles  ————————————————————————————————————————————— */
:root {
  --black: #4A4A4A;
  --red: #DF856E;
  --pink: rgb(212, 73, 196);
  --paper: #F7F1DA;
  --yellow: #E3CCA1;
  --green-transparent: rgb(196, 195, 169, 0.5);
  --green: rgb(196, 195, 169);
  --green-neon: #8adf0a;
  --bckgr-white: #F2F2EC;
  --bg-grey-light: #B4B4B4;
  --bg-grey: #8C8080;
  --bg-grey-lighter: #d5d5d5;
  --bckgr-grey-dark: #959595;
  --bg-grey-darkest: #6e6d6d;
  --bg-paper: rgb(242, 241, 232);
  --transparent: rgba(0, 0, 0, 0.3);
  --black-shadow: rgb(54, 52, 52, 0.5);


  --black-new: #2A2C54;
  --red-new: #C25769;
  --burgundy-new: #7E465E;
  --purple-new: #4A3859;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: solid 1px red;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--bckgr-grey-dark);
}

body {
  font-family: 'Raleway', serif;
}


/* —————————  Utility/ Re usable classes  ————————————————————————— */
.flex-row {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.absolute-title {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 16rem;
  font-weight: 500;
  transform: rotate(-90deg);
  transform-origin: 44% 29rem;
  color: var(--bg-grey-light);
  z-index: 4000;
  text-shadow: -8px -8px 2px var(--green-transparent);
}

.btn {
  padding: .5rem 2rem;
  border: solid 2px var(--red);
  background: none;
  color: var(--red);
  margin: 3rem 0 3rem 15rem;
  font-family: 'Alumni Sans', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover,
.btn:active,
.btn-blog:hover,
.btn-blog:active,
.reset-style:hover,
.reset-style:active {
  background-color: var(--red);
  border: solid 2px transparent;
  color: var(--bckgr-white);
}


/* —————————  Loader  ————————————————————————————————————————————— */
.loader-container {
  padding: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 10rem;
  height: 10rem;
  border: 1rem solid var(--bg-grey-lighter);
  border-bottom: 1rem solid var(--red);
  border-radius: 100%;
  animation: infinite spin .5s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* —————————  nav bar  ————————————————————————————————————————————— */
nav {
  width: 100%;
  min-height: 75px;
  height: 100px;
  background-color: var(--bg-paper);
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  z-index: 3000;
}

nav a {
  font-size: 1.2rem;
  padding: 1rem .5rem;
  margin-left: 2.5rem;
}

.logo {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
}

.logo h1 {
  font-family: 'Economica', sans-serif;
  font-size: 2rem;
  color: var(--red);
  z-index: 6000;
}

.menu {
  justify-self: end;
  padding-right: 2rem;
}

.nav-menu {
  display: flex;
  margin: auto 0;
}

.nav-menu span {
  font-weight: 600;
  font-size: 1.4rem;
}

.nav-link {
  border: solid 1px transparent;
}

.nav-link[aria-current="page"] {
  background-color: var(--black);
  border: solid 1px var(--bckgr-grey-dark);
  color: var(--paper);
}

.nav-link:hover {
  border-color: var(--bckgr-grey-dark);
}

.mobile {
  font-size: 1.3rem;
  color: var(--bg-grey-darkest);
  cursor: pointer;
  display: none;
}


/* —————————  Footer  ————————————————————————————————————————————— */
footer {
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  background-color: var(--black);
  color: var(--bg-grey-lighter);
  position: absolute;
  z-index: 4000;
  width: 100%;
}

footer h1 {
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 11px;
}

footer span {
  font-weight: 500;
}

.foot-container {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
  padding-top: 3rem;
  background-color: var(--black);
}

.foot-box {
  display: flex;
  justify-content: space-evenly;
  /* z-index: 3000; */
  background-color: var(--black);
}

.foot-trinket {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: .5rem;
}

.foot-trinket a {
  color: var(--bg-grey-lighter);
}

.copyright {
  text-align: center;
  font-size: .7rem;
  font-family: 'Alumni Sans', sans-serif;
  letter-spacing: 4px;
  padding: 1.5rem 0 .2rem 0;
}


/* —————————  INDEX.HTML  ————————————————————————————————————————————— */
/* -------------------------------- <section class="hero"> */
.hero {
  background-color: var(--bg-paper);
  height: 900px;
  padding-top: 2rem;
}

.hero-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 960px;
  height: 550px;
  margin: 0 auto;
  align-items: center;
}

.hero-right {
  display: flex;
  justify-content: end;
  z-index: 1000;
}

.hero-text {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.5rem;
  color: var(--bg-grey);
  text-shadow: -3px 3px .5px var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 300px;
}

.symbol {
  height: 100px;
  padding-right: 35px;
  padding-bottom: 4px;
  position: absolute;
  opacity: 20%;
  color: var(--bg-grey);
  z-index: 3000;
}

.symbol-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.symbol-container h2 {
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 1px;
  color: var(--bg-grey);
  display: flex;
  justify-content: flex-end;
  z-index: 3000;
}

.film-strip-0 {
  position: absolute;
  top: 500px;
  right: 0;
  bottom: 0;
  left: 0;
}

.film-strip {
  position: relative;
  padding-left: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 150px;
  z-index: 1000;
}

.text-right-align {
  align-self: flex-end;
}

.hero-img-behind {
  position: absolute;
}

.hero-img-behind img {
  width: 350px;
  height: 500px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.hero-img-front {
  padding: 30px 85px 30px 0;
  z-index: 2000;
}

.hero-img-front img {
  width: 450px;
  object-fit: contain;
  filter: drop-shadow(-5px 5px 8px var(--black-shadow));
  background: none;
}


/* ----------------------------- <section class="posts"> */
.posts {
  background-color: var(--black);
  padding: 6rem 0rem;
  z-index: 3000;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1150px;
  scroll-behavior: smooth;
  overflow: hidden;
}

.slider-container {
  height: 100%;
  width: 100%;
  min-width: 30%;
  margin: auto;
  padding: 9px;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  border: solid 1px red;
}

.slide {
  min-width: 30.5%;
  margin: 0 15px;
  background-color: var(--bckgr-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 2000;
}

.slide:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

.slide img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.slide-date,
.date {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding: .5rem;
  text-align: center;
}

.arrows {
  color: var(--bg-grey-lighter);
  font-size: 30px;
  cursor: pointer;
  z-index: 2000;
}


/* --------------------------------- <section class="about"> */
.about {
  background-color: var(--bg-paper);
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-wrapper img {
  width: 400px;
  margin-top: 1rem;
  margin-right: 14%;
  filter: drop-shadow(-5px 5px 4px var(--black-shadow));
  z-index: 3000;
}

.icon-image-text {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 300;
  color: var(--bg-grey);
  width: 500px;
}

.about-wrapper .btn {
  align-self: center;
  margin-right: 10%;
  filter: drop-shadow(-5px 5px 3px var(--black-shadow));
}


/* —————————  About page  ————————————————————————————————————————————— */
.about-container figure {
  margin: 0;
}

.about-box {
  margin-left: 5rem;
  padding: 5rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin: 3rem 5rem 1rem 5rem;
}

.selfie,
.typewriter {
  align-self: flex-end;
  margin-top: 3rem;
}

.sand-storm {
  align-self: flex-start;
}

.camera {
  margin-bottom: 4rem;
}

.about-content p {
  text-align: left;
  color: var(--bckgr-grey-dark);
}

.headline {
  padding-top: 2rem;
  margin-bottom: 2rem;
  align-self: flex-start;
  margin-left: 9rem;
  color: var(--black)
}

.headline-two {
  width: 15rem;
  align-self: flex-end;
  margin-right: 30%;
}

.first,
.middle,
.one,
.two,
.three {
  display: flex;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: .5px;
}

.first {
  width: 45%;
  margin-top: 1rem;
}

.middle-wide {
  width: 55%;
}

.middle-ultrawide {
  width: 70%;
}

.one {
  align-self: flex-start;
  width: 60%;
}

.two {
  align-self: flex-end;
}

.three {
  align-self: flex-start;
}

.sand-storm {
  z-index: 3000;
}



/* —————————  Blog page  ————————————————————————————————————————————— */
.blog-grid {
  margin-right: 5rem;
  padding: 11rem 0 5rem 8rem;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  justify-content: flex-end;
  row-gap: 50px;
  column-gap: 50px;
  z-index: 5000;
}

.btn-blog {
  width: 100%;
  max-width: 250px;
  margin: 0 0 5rem 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.blog .absolute-title {
  letter-spacing: 17px;
  transform-origin: 64% 26rem;
}


/* —————————  Details page  ————————————————————————————————————————————— */
.details-container {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.post-details {
  width: 70%;
}

.post-details h1,
.details p {
  padding: 1rem 0;
}

.post-details img {
  width: 100%;
  object-fit: cover;
}

.post-details figure {
  display: block;
}

figcaption {
  text-align: center;
  padding-bottom: 1rem;
}

.fa-arrow-left {
  font-size: 3rem;
  color: var(--black);
  padding-top: 3rem;
  padding-right: 2rem;
}


/*  --------------------------------- < Modal > */
/* Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

/* Modal (Content) */
.modal-content {
  background-color: var(--bckgr-white);
  margin: 15% auto;
  padding: 1.5rem;
  border: solid 1px var(--bckgr-grey-dark);
  width: 90%;
  height: 90%;
}

.modal-content img {
  object-fit: contain;
  height: 100%;
  width: 100%;

}

/* Modal (close button) */
.close {
  color: var(--black);
  float: right;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
}

.close:hover,
.close:focus {
  color: var(--red);
  cursor: pointer;
}

.blog-image {
  cursor: pointer;
}


/* —————————  Gallery page  ————————————————————————————————————————————— */
.gallery-container {
  padding: 8rem 0 2rem 20rem;
}

.gallery-section .absolute-title {
  font-size: 14rem;
  transform-origin: 65% 23.5rem;
}

figure {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(4, 300px);
}

.gallery figcaption {
  color: var(--bg-grey-darkest);
  padding: .5rem;
}

.wp-block-image {
  display: flex;
  flex-direction: column;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-image figure {
  padding: 10px;
}


/* —————————  Contact page  ————————————————————————————————————————————— */
.form .absolute-title {
  position: absolute;
  font-size: 12rem;
  transform-origin: 30% 33rem;
}

.form {
  color: var(--bckgr-white);
}

.form-wrapper {
  padding-top: 7rem;
  padding-bottom: 1rem;
  padding-left: 22%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

form {
  padding: 4rem;
  border-radius: .5rem;
  width: 600px;
  z-index: 1001;
}

label {
  color: var(--black);
  letter-spacing: 2px;
  font-weight: 600;
}

input {
  background: none;
  border: none;
  padding-top: 10px;
  outline: none;
}

textarea {
  resize: none;
  background: none;
  border: none;
  outline: none;
}

.form-error {
  color: var(--red);
  font-size: .8rem;
  margin-top: 3px;
  display: none;
}

.hidden {
  display: none;
}

.thank-you {
  position: absolute;
  top: 14%;
  left: 24%;
  font-size: 2.5rem;
  color: var(--green-neon);
  text-shadow: 2px 1px 2px var(--red);
  z-index: 2000;
}

.inputs {
  padding: .8rem;
  border: solid 1px var(--black);
  margin-top: 1.2rem;
}

.form-btn {
  margin: 2rem 4rem 0;
}

.reset-style {
  color: var(--red);
  border: solid 2px transparent;
  background: none;
  cursor: pointer;
  font-family: 'Alumni Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}


/* —————————  Media Queries  ————————————————————————————————————————————— */
@media screen and (max-width: 1300px) {

  /* Gallery page */
  .gallery-section .absolute-title {
    transform-origin: 65% 24rem;
    font-size: 12rem;
  }

  .gallery {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 1200px) {

  /* Gallery page */
  .gallery-container figure {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(6, 300px);
  }
}

@media screen and (max-width: 1150px) {

  /* Home page */
  .slider-wrapper {
    width: 767px;
  }

  .slide {
    margin-left: 0;
    min-width: 49.3%;
  }

  /* Blog page */
  .blog .absolute-title {
    font-size: 13rem;
    transform-origin: 65% 23rem;
  }

  .blog-grid {
    row-gap: 25px;
    column-gap: 10px;
    margin-right: 1rem;
  }

  /* Contact page */
  .form .absolute-title {
    transform-origin: 39% 29rem;
  }
}

@media screen and (max-width: 1118px) {

  /* About page */
  .about-wrapper img {
    z-index: 1000;
  }
}

@media screen and (max-width: 995px) {

  /* Home page  */
  .hero-container {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .hero-text {
    margin-top: 1.5rem;
    padding-top: 2.5rem;
  }

  .text-right-align {
    align-self: flex-start;
    margin: 1rem 1rem;
  }

  .symbol-container {
    position: relative;
    top: 7rem;
    right: 100%;
  }

  .hero-left {
    height: 130px;
  }

  .hero-right {
    padding-top: 2rem;
  }

  .symbol-container {
    z-index: 0;
  }

  .polaroid {
    width: 100%;
    max-width: 370px;
  }
}


@media screen and (max-width: 940px) {

  /* nav */
  .nav-menu {
    background-color: var(--black);
    padding: 4rem;
    position: fixed;
    width: 100%;
    top: -100%;
    left: 0;
    flex-direction: column;
    transition-duration: .5s;
    align-items: center;
  }

  .nav-menu span {
    font-weight: 900;
    font-size: 1.7rem;
  }

  .mobile {
    display: block;
    transition: transform 0.5s;
    transform: rotate(0deg);
  }

  .nav-link {
    padding: 1rem;
    font-size: 1.4rem;
    margin: 1rem auto;
  }

  .nav-link:hover {
    border: solid 1px var(--bckgr-white);
  }

  .nav-link[aria-current="page"] {
    background-color: var(--bckgr-white);
    border: solid 1px var(--bckgr-white);
    color: var(--black);
  }

  .nav-menu.active {
    left: 0;
    top: 0;
  }

  .mobile.active {
    position: absolute;
    top: 38px;
    right: 32px;
    transition: transform 0.5s;
    transform: rotate(270deg);
    color: var(--bg-grey-light);
  }

  .logo-mobile.active {
    z-index: 6000;
  }

  /* loader */
  .loader-container {
    padding: 25%;
  }

  /* home page */
  .hero-img-front {
    padding-bottom: 0;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .hero-text {
    margin-top: -5px;
    display: block;
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
  }

  .hero-right {
    padding-top: .2rem;
  }

  .symbol-container {
    width: 100%;
    max-width: 150px;
    /* left: -240px; */
    position: relative;
    margin-top: 10px;
    left: -250px;
    top: 50px;
  }

  .symbol {
    width: 100%;
    max-width: 130px;
  }

  .symbol-name {
    width: 100%;
    max-width: 114px;
    height: 197px;
    align-items: center;
  }

  .icon-image-text {
    padding-left: 4.5rem;
    font-size: 1.5rem;
  }

  .about-wrapper img {
    margin-right: 5%;
  }

  /* About page */
  .about-box {
    padding: 5rem 0 5rem 8rem;
    margin: 0;
  }

  .about-container .absolute-title {
    position: fixed;
    font-size: 10rem;
    margin: .5rem auto;
    transform-origin: 40% 20rem;
    z-index: 1;
  }

  .headline {
    padding-top: 5rem;
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .headline.headline-two {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 25px;
  }

  .one {
    width: 100%;
    max-width: 698px;
  }

  .middle {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .middle-two {
    width: 100%;
    max-width: 800px;
    margin-left: 0 2rem;
  }

  .first {
    width: 100%;
    max-width: 400px;
  }

  .about-content figure {
    z-index: 1;
  }

  .about-content figcaption {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
  }

  /* Blog page */
  .blog-grid {
    grid-template-columns: 450px;
    row-gap: 35px;
    margin-right: 10%;
  }

  .blog .absolute-title {
    position: fixed;
    z-index: 3000;
  }

  /* Gallery page */
  .gallery-section .absolute-title {
    transform-origin: 65% 24rem;
    font-size: 11rem;
    position: fixed;
    z-index: 1;
  }

  /* Contact page */
  .form .absolute-title {
    z-index: 1;
  }
}

@media screen and (max-width: 900px) {

  /* Home page */
  .hero-text {
    margin-right: 10rem;
  }

  /* Gallery page */
  .gallery-container figure {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(12, 300px);
  }

  /* Contact page */
  .form .absolute-title {
    position: absolute;
    font-size: 8rem;
    transform-origin: 38% 24rem;
  }
}

@media screen and (max-width: 800px) {

  /* nav */
  .logo {
    padding-left: 0;
  }

  /* Home page */
  .film-strip {
    max-width: 145px;
  }

  .symbol-container {
    left: 200px;
    top: -210px;
  }

  .about-wrapper img {
    max-width: 250px;
  }

  .icon-image-text {
    font-size: 1.4rem;
    width: 20rem;
    padding-left: 0;
  }

  .slider-wrapper {
    width: 411px;
  }

  .slide {
    min-width: 100%;
  }

  /* Blog page */
  .blog .absolute-title {
    font-size: 9rem;
    transform-origin: 70% 18rem;
  }

  /* Contact page */
  .form .absolute-title {
    position: absolute;
    font-size: 6rem;
    transform-origin: 45% 22rem;
  }

  form {
    margin-right: 5px;
  }

  .thank-you {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 680px) {

  /* footer */
  .foot-container {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15vw;
  }

  .mobile-spacer {
    padding-bottom: 1rem;
  }

  /* Home page */
  .hero-left {
    padding-top: 1rem;
  }

  .hero-text {
    font-size: 2rem;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }

  .symbol-container {
    left: -240px;
    top: 50px;
  }

  .symbol {
    max-width: 100px;
    max-height: 70px;
  }

  .symbol-name {
    font-size: 1.2rem;
  }

  .icon-image-text {
    padding-left: 2rem;
  }

  /* Blog page */
  .blog-grid {
    grid-template-columns: 350px;
  }

  .blog .absolute-title {
    font-size: 6rem;
    transform-origin: 98% 13rem;
  }

  .btn-blog {
    font-size: 1.4rem;
    max-width: 150px;
  }
}

@media screen and (max-width: 600px) {

  /* Home page */
  .hero-text {
    margin-top: 0;
    font-size: 1.6rem;
  }

  .symbol-container {
    left: -100px;
    top: -60px;
  }

  .film-strip {
    max-width: 140px;
  }

  .hero-img-behind {
    right: -47px;
  }

  .hero-img-front {
    padding-right: 50px;
  }

  .hero-img-behind img {
    width: 100%;
    max-height: 350px;
  }

  .hero-img-front img {
    width: 100%;
    max-height: 500px;
  }

  .icon-image-text {
    font-size: 1.1rem;
    padding-left: 5rem;
  }

  .about-wrapper img {
    margin-right: -10%;
    max-width: 200px;
  }

  .btn {
    font-size: 1.4rem;
  }

  /* About page */
  .about-content figure {
    margin-top: 2rem;
  }

  .about-content figcaption {
    padding: 1rem 0;
  }

  .about-box {
    padding: 8rem 1rem 5rem 6rem;
  }

  .about-container .absolute-title {
    font-size: 6rem;
    transform-origin: 38% 13rem;
  }

  .selfie,
  .typewriter,
  .sand-storm {
    align-self: center;
  }

  .about-content img {
    max-width: 250px;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Blog page */
  .blog-grid {
    justify-content: center;
    padding-left: 0;
    margin-right: 0;
    margin-left: 5rem;
  }

  .blog .absolute-title {
    transform-origin: 87% 15rem;
  }

  /* Gallery page */
  .gallery-section .absolute-title {
    transform-origin: 68% 18rem;
    font-size: 8rem;
  }

  .gallery-container {
    padding-left: 12rem;
  }

  /* Contact page */
  .form .absolute-title {
    font-size: 4rem;
    transform-origin: 60% 18rem;
  }

  .form-wrapper {
    padding-left: 11%;
  }

  .thank-you {
    font-size: 1.5rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  /* About page */
  /* .about-content figure {
    align-self: center;
  } */

  .headline {
    margin: 0 auto;
    font-size: 1.2rem;
    width: 250px;
    padding-top: 2rem;
  }

  .about-container .absolute-title {
    font-size: 5rem;
    transform-origin: 28% 10rem;
  }

  .about-content img {
    max-width: 200px;
    max-height: 200px;
  }

  .about-content p {
    font-size: 1.1rem;
  }

  /* Gallery page */
  .gallery-container {
    padding-left: 8rem;
  }

  /* Blog page */
  .blog .absolute-title {
    font-size: 4rem;
    transform-origin: 96% 12rem;
  }

  /* Contact page */
  .form .absolute-title {
    font-size: 3rem;
    transform-origin: 58% 16rem;
  }

  .form-wrapper {
    padding-left: 6%;
  }

  form {
    padding: 2rem;
  }

  .thank-you {
    font-size: 1.3rem;
    left: 60px;
  }
}

@media screen and (max-width: 450px) {

  /* nav */
  .logo a {
    width: 100%;
    min-width: 150px;
  }

  /* Home page */
  .hero-img-front {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }

  .icon-image-text {
    padding-left: 7.5rem;
    font-size: 1rem;
  }

  .about-wrapper img {
    margin-right: -20%;
  }

  .btn {
    display: block;
    margin: 1rem auto 2rem;
  }

  /* Blog page */
  .blog-grid {
    grid-template-columns: 300px;
  }

  /* Gallery page */
  .gallery-section .absolute-title {
    transform-origin: 80% 13rem;
    font-size: 5rem;
  }

  .gallery-container {
    padding-left: 7rem;
  }

  /* Contact page */
  .form .absolute-title {
    transform-origin: 61% 15.5rem;
  }
}

@media screen and (max-width: 420px) {

  /* Home page */
  .hero-text {
    font-size: 1.4rem;
    justify-content: center;
  }

  .about-wrapper img {
    margin-right: -30%;
  }

  .slider-wrapper {
    width: 380px;
  }

  /* Blog page */
  .blog .absolute-title {
    font-size: 3.5rem;
    transform-origin: 98% 11rem;
  }

  .blog-grid {
    margin-left: 3rem;
  }

  /* Gallery page */
  .gallery-section .absolute-title {
    transform-origin: 100% 11.5rem;
    font-size: 3.5rem;
  }

  .gallery-container {
    padding-left: 5rem;
  }

  /* Contact page */
  .form .absolute-title {
    font-size: 2rem;
    transform-origin: 61% 14rem;
  }

  form {
    padding: 1rem;
  }

  .thank-you {
    left: 50px;
  }
}

@media screen and (max-width: 400px) {

  /* About page */
  .about-container .absolute-title {
    font-size: 4rem;
    transform-origin: 28% 8.5rem;
  }
}